.dashboard {
  padding: 40px 15px;
  width: 80%;
  max-width: 100%;
  margin: 0 auto;
}

.dashboard_top {
  border-bottom: 1px solid var(--axisPrimary);
  padding-bottom: 10px;
}

.dashboard_toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard_createNew {
  text-align: right;
  padding: 20px 0;
}

.dashboard_title {
  font-size: 24px;
  color: var(--white);
}

.dashboard_mode {
  span {
    display: inline-block;
    & + span {
      padding-left: 10px;
    }
    &.active {
      svg {
        fill: #5596e6;
      }
    }
  }
  svg {
    fill: var(--cds-icon-02);
    cursor: pointer;
  }
}

.dashboard_content {
  margin-top: 20px;
}

.dashboardGrid_root {
  display: flex;
  flex-wrap: wrap;

  & > :nth-child(3n -1) {
    margin-left: 5%;
    margin-right: 5%;
  }
}

.dashboardGrid_item {
  // margin: 1% 0;
  flex: 0 0 30%;
  margin-bottom: 5%;
}

.dashboardGrid_folder {
  position: relative;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
  height: 17em;

  &:hover {
    .dashboardGrid_blur {
      display: block;
    }
  }
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    fill: #3d70b2;
    width: 14em;
    max-width: 80%;
  }
}

.dashboardGrid_infor {
  width: 100%;
  height: 6em;
  display: flex;
  padding: 0.7em;
  background-color: #d9ebfd;
  align-items: center;
  white-space: nowrap;
}

.dashboardGrid_description {
  font-size: 12px;
  flex-grow: 1;
}

.dashboardGrid_option {
  display: flex;
  margin-top: 5px;

  &_version {
    color: #454658;
    font-weight: bold;
    margin-right: 10px;
  }
}
.dashboardGrid_quantity {
  width: 11em;
  margin-top: 1em;

  &_row {
    display: flex;
    justify-content: space-between;

    & + & {
      margin-top: 0.8em;
    }
  }
}

.dashboardGrid_blur {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #3d70b2;
    opacity: 0.85;
  }

  button {
    border-radius: 0px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    min-width: 100px;
    cursor: pointer;
    border: 2px solid #3d70b2;
    padding: 1em 2em;
    color: white;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background: white;
    color: #3d70b2;
    outline: 0;
  }

  &_option {
    position: absolute;
    display: flex;
    z-index: 1;
    right: 10px;
    top: 10px;
  }

  &_view {
    padding: 15px;
    position: absolute;
    z-index: 1;
    left: 5px;
    bottom: 5px;
    cursor: pointer;
  }
}

@media (max-width: 1024px) {
  .dashboard {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .dashboardGrid_root > :nth-child(3n -1) {
    margin-left: 0;
    margin-right: 0;
  }

  .dashboardGrid_item {
    flex: 0 0 100%;
  }
}
