:root {
  --root: #161616;
  --primary: #1e7bee;
  --grid: #262626;
  --textPrimary: #8d8d8d;
  --textSecond: #f4f4f4;
  --textOverflow: #c6c6c6;
  --axisPrimary: #393939;
  --overflowPrimary: #141414;
  --overflowHover: #353535;
  --white: #fff;
  --cds-interactive-01: #0f62fe;
  --cds-interactive-02: #6f6f6f;
  --cds-interactive-03: #fff;
  --cds-interactive-04: #4589ff;
  --cds-ui-background: #161616;
  --cds-ui-01: #262626;
  --cds-ui-02: #393939;
  --cds-ui-03: #393939;
  --cds-ui-04: #6f6f6f;
  --cds-ui-05: #f4f4f4;
  --cds-text-01: #f4f4f4;
  --cds-text-02: #c6c6c6;
  --cds-text-03: #6f6f6f;
  --cds-text-04: #fff;
  --cds-text-05: #8d8d8d;
  --cds-text-error: #ff8389;
  --cds-icon-01: #f4f4f4;
  --cds-icon-02: #c6c6c6;
  --cds-icon-03: #fff;
  --cds-link-01: #78a9ff;
  --cds-inverse-link: #0f62fe;
  --cds-field-01: #262626;
  --cds-field-02: #393939;
  --cds-inverse-01: #161616;
  --cds-inverse-02: #f4f4f4;
  --cds-support-01: #fa4d56;
  --cds-support-02: #42be65;
  --cds-support-03: #f1c21b;
  --cds-support-04: #4589ff;
  --cds-inverse-support-01: #da1e28;
  --cds-inverse-support-02: #24a148;
  --cds-inverse-support-03: #f1c21b;
  --cds-inverse-support-04: #0f62fe;
  --cds-overlay-01: rgba(22, 22, 22, 0.7);
  --cds-danger: #da1e28;
  --cds-focus: #fff;
  --cds-inverse-focus-ui: #0f62fe;
  --cds-hover-primary: #0353e9;
  --cds-active-primary: #002d9c;
  --cds-hover-primary-text: #a6c8ff;
  --cds-hover-secondary: #606060;
  --cds-active-secondary: #393939;
  --cds-hover-tertiary: #f4f4f4;
  --cds-active-tertiary: #c6c6c6;
  --cds-hover-ui: #353535;
  --cds-active-ui: #525252;
  --cds-selected-ui: #393939;
  --cds-selected-light-ui: #525252;
  --cds-hover-selected-ui: #4c4c4c;
  --cds-inverse-hover-ui: #e5e5e5;
  --cds-hover-danger: #b81921;
  --cds-active-danger: #750e13;
  --cds-hover-row: #353535;
  --cds-visited-link: #be95ff;
  --cds-disabled-01: #262626;
  --cds-disabled-02: #525252;
  --cds-disabled-03: #8d8d8d;
  --cds-highlight: #002d9c;
  --cds-decorative-01: #525252;
  --cds-skeleton-01: #353535;
  --cds-skeleton-02: #393939;
  --cds-brand-01: #0f62fe;
  --cds-brand-02: #6f6f6f;
  --cds-brand-03: #fff;
  --cds-active-01: #525252;
  --cds-hover-field: #353535;
}

[data-theme='white'] {
  --root: white;
}
